{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <form action="{{ fsc.url() }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        <i class="fa-solid fa-book fa-fw"></i> {{ fsc.title }}
                    </h1>
                    <p class="mb-0">{{ trans('model-115-p') }}</p>
                    <p>{{ trans('model-180-p') }}</p>
                </div>
            </div>
            <div class="row g-2 align-items-end">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('exercise') }}
                        <select name="codejercicio" class="form-select" required>
                            {% for company in fsc.empresa.all() %}
                                <optgroup label="{{ company.nombrecorto }}">
                                    {% for exercise in fsc.allExercises(company.idempresa) %}
                                        {% if exercise.codejercicio == fsc.codejercicio %}
                                            <option value="{{ exercise.codejercicio }}"
                                                    selected>{{ exercise.nombre }}</option>
                                        {% else %}
                                            <option value="{{ exercise.codejercicio }}">{{ exercise.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('period') }}
                        <select name="period" class="form-select" required>
                            {% for period, label in fsc.allPeriods() %}
                                {% if period == fsc.period %}
                                    <option value="{{ period }}" selected>{{ trans(label) }}</option>
                                {% else %}
                                    <option value="{{ period }}">{{ trans(label) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('retention') }}
                        <select name="codretencion" class="form-select">
                            <option value="">------</option>
                            {% for ret in fsc.allRetentions() %}
                                {% if ret.codretencion == fsc.codretencion %}
                                    <option value="{{ ret.codretencion }}"
                                            selected>{{ trans(ret.descripcion) }}</option>
                                {% else %}
                                    <option value="{{ ret.codretencion }}">{{ trans(ret.descripcion) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <button type="submit" name="action" value="show" class="btn btn-primary">
                            <i class="fa-solid fa-eye me-1"></i> {{ trans('preview') }}
                        </button>
                        {% if fsc.result.invoices is not empty %}
                            <button type="submit" name="action" value="print" formtarget="_blank"
                                    class="btn btn-secondary ms-2">
                                <i class="fa-solid fa-print me-1"></i> {{ trans('print') }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if fsc.result.invoices is not empty %}
                <div class="row">
                    <div class="col">
                        <h2 class="h3 mt-3">
                            <i class="fa-regular fa-clipboard fa-fw"></i> {{ trans('summary') }}
                        </h2>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl">
                        <div class="mb-3">
                            {{ trans('number-recipients') }}
                            <div class="input-group">
                                <span class="input-group-text">01</span>
                                <input type="number" value="{{ fsc.result.numrecipients }}" class="form-control text-end"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl">
                        <div class="mb-3">
                            {{ trans('tax-base') }}
                            <div class="input-group">
                                <span class="input-group-text">02</span>
                                <input type="number" value="{{ fsc.result.taxbase }}" class="form-control text-end"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl">
                        <div class="mb-3">
                            {{ trans('retentions') }}
                            <div class="input-group">
                                <span class="input-group-text">03</span>
                                <input type="number" value="{{ fsc.result.retentions }}" class="form-control text-end"
                                       readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl">
                        <div class="mb-3">
                            {{ trans('to-deduct') }}
                            <div class="input-group">
                                <span class="input-group-text">04</span>
                                <input type="number" name="todeduct" value="{{ fsc.todeduct }}"
                                       class="form-control text-end" required onchange="this.form.submit();"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl">
                        <div class="mb-3">
                            {{ trans('result') }}
                            <div class="input-group">
                                <span class="input-group-text">05</span>
                                <input type="number" value="{{ fsc.result.result }}" class="form-control text-end" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="h4 mt-3">
                            <i class="fa-regular fa-copy fa-fw"></i> {{ trans('supplier-invoices') }}
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{ trans('invoice') }}</th>
                                    <th>{{ trans('supplier') }}</th>
                                    <th class="text-end">{{ trans('net') }}</th>
                                    <th class="text-end">{{ trans('taxes') }}</th>
                                    <th class="text-end">{{ trans('surcharge') }}</th>
                                    <th class="text-end">{{ trans('retention') }}</th>
                                    <th class="text-end">{{ trans('total') }}</th>
                                    <th class="text-end">{{ trans('date') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in fsc.result.invoices %}
                                    <tr>
                                        <td>
                                            <a href="{{ item.url() }}">{{ item.codigo }}</a>
                                        </td>
                                        <td>{{ item.nombre | raw }}</td>
                                        <td class="text-end">{{ money(item.neto) }}</td>
                                        <td class="text-end">{{ money(item.totaliva) }}</td>
                                        <td class="text-end">{{ money(item.totalrecargo) }}</td>
                                        <td class="text-end">{{ money(item.totalirpf) }}</td>
                                        <td class="text-end">{{ money(item.total) }}</td>
                                        <td class="text-end">{{ item.fecha }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="table-warning">
                                        <td colspan="8">{{ trans('no-data') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="table-active fw-bold">
                                    <td></td>
                                    <td>{{ trans('totals') }}</td>
                                    <td class="text-end">{{ money(fsc.result.totalNeto) }}</td>
                                    <td class="text-end">{{ money(fsc.result.totalIva) }}</td>
                                    <td class="text-end">{{ money(fsc.result.totalRecargo) }}</td>
                                    <td class="text-end">{{ money(fsc.result.totalIrpf) }}</td>
                                    <td class="text-end">{{ money(fsc.result.totalTotal) }}</td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">{{ trans('no-data') }}</div>
            {% endif %}
        </div>
    </form>
{% endblock %}