{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <form action="{{ fsc.url() }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        <i class="fas fa-book fa-fw"></i>
                        {{ i18n.trans(fsc.title) }}
                    </h1>
                    <p>
                        {{ i18n.trans('model-115-p') }}
                    </p>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ i18n.trans('exercise') }}
                        <select name="codejercicio" class="form-control" required="true">
                            {% for exercise in fsc.allExercises() %}
                                {% if exercise.codejercicio == fsc.codejercicio %}
                                    <option value="{{ exercise.codejercicio }}" selected="">{{ exercise.nombre }}</option>
                                {% else %}
                                    <option value="{{ exercise.codejercicio }}">{{ exercise.nombre }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ i18n.trans('period') }}
                        <select name="period" class="form-control" required="true">
                            {% for period, label in fsc.allPeriods() %}
                                {% if period == fsc.period %}
                                    <option value="{{ period }}" selected="">{{ i18n.trans(label) }}</option>
                                {% else %}
                                    <option value="{{ period }}">{{ i18n.trans(label) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ i18n.trans('retention') }}
                        <select name="codretencion" class="form-control">
                            <option value="">------</option>
                            {% for ret in fsc.allRetentions() %}
                                {% if ret.codretencion == fsc.codretencion %}
                                    <option value="{{ ret.codretencion }}" selected="">{{ i18n.trans(ret.descripcion) }}</option>
                                {% else %}
                                    <option value="{{ ret.codretencion }}">{{ i18n.trans(ret.descripcion) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" name="action" value="show" class="btn btn-primary">
                            <i class="fas fa-eye fa-fw"></i> {{ i18n.trans('preview') }}
                        </button>
                    </div>
                </div>
            </div>
            {% if fsc.invoices is not empty %}
                <div class="row">
                    <div class="col">
                        <h2 class="h3 mt-3">
                            <i class="far fa-clipboard fa-fw"></i> {{ i18n.trans('summary') }}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {{ i18n.trans('number-recipients') }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">1</span>
                                </div>
                                <input type="number" value="{{ fsc.numrecipients }}" class="form-control text-right" readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ i18n.trans('tax-base') }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">2</span>
                                </div>
                                <input type="number" value="{{ fsc.taxbase }}" class="form-control text-right" readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ i18n.trans('retentions') }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">3</span>
                                </div>
                                <input type="number" value="{{ fsc.retentions }}" class="form-control text-right" readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ i18n.trans('to-deduct') }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">4</span>
                                </div>
                                <input type="number" name="todeduct" value="{{ fsc.todeduct }}" class="form-control text-right" required="true" onchange="this.form.submit();" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {{ i18n.trans('result') }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">5</span>
                                </div>
                                <input type="number" value="{{ fsc.result }}" class="form-control text-right" readonly="true" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="h4 mt-3">
                            <i class="far fa-copy fa-fw"></i> {{ i18n.trans('supplier-invoices') }}
                        </h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>{{ i18n.trans('invoice') }}</th>
                                        <th>{{ i18n.trans('supplier') }}</th>
                                        <th class="text-right">{{ i18n.trans('net') }}</th>
                                        <th class="text-right">{{ i18n.trans('taxes') }}</th>
                                        <th class="text-right">{{ i18n.trans('surcharge') }}</th>
                                        <th class="text-right">{{ i18n.trans('retention') }}</th>
                                        <th class="text-right">{{ i18n.trans('total') }}</th>
                                        <th class="text-right">{{ i18n.trans('date') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in fsc.invoices %}
                                        <tr>
                                            <td>
                                                <a href="{{ item.url() }}">{{ item.codigo }}</a>
                                            </td>
                                            <td>{{ item.nombre | raw }}</td>
                                            <td class="text-right">{{ fsc.toolBox().coins().format(item.neto) }}</td>
                                            <td class="text-right">{{ fsc.toolBox().coins().format(item.totaliva) }}</td>
                                            <td class="text-right">{{ fsc.toolBox().coins().format(item.totalrecargo) }}</td>
                                            <td class="text-right">{{ fsc.toolBox().coins().format(item.totalirpf) }}</td>
                                            <td class="text-right">{{ fsc.toolBox().coins().format(item.total) }}</td>
                                            <td class="text-right">{{ item.fecha }}</td>
                                        </tr>
                                    {% else %}
                                        <tr class="table-warning">
                                            <td colspan="8">{{ i18n.trans('no-data') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}